*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
button {
  all: initial;
  cursor: pointer;
  font: inherit;
  user-select: none;
}
body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
}

body > div {
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  background: #FFF;
}

.todo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notes, #schedule {
  position: absolute;
  max-width: 50%;
  min-height: 50px;
  max-height: 450px;
  display: none;
  overflow: auto;
  border: 2px solid rgba(255, 0, 0, 0.5);
}

.input_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding-left: 10px;
  margin: 1em 0;
}
.input_container input  {
  all: initial;
  font: inherit;
  padding: .2em;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.input_container input[type="number"] {
  max-width: 10%;
}

.input_container button {
  border-radius: 10px;
  padding: .5em;
  flex-basis: 15%;
  text-align: center;
  background: rgba(0, 0, 0, .05);
}

input[type="checkbox"] {
    min-width: 25px;
    min-height: 25px;
    margin: 0 .5rem;
}

#tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.03);
  height: 300px;
  overflow-y: auto;
}

.todo {
  display: flex;
  padding: 1em;
  width: calc(100% - 1em);
  margin: .3em;
  background: #FFF;
}

.todo p {
  inline-size: 60vw; 
  overflow-wrap: break-word;
}

.delete {
  color: red;
  font-size: 1.3rem;
}
.edit {
  color: blue;
  font-size: 1.2rem;
  margin-right: 1.5em;
}

.play {
  color: blue;
  font-size: 1.2rem;
  margin-right: 1.5em;
}
.time {
  color: green;
  display: inline-block;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-right: 1.5em;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 15%;
}

.buttons_container > button {
  margin: .5em;
  border-radius: 10px;
  padding: .5em;
  flex-basis: 15%;
  text-align: center;
  background: rgba(0, 0, 0, .05);
}

#content p p{
  display: inline-block;
}

#content p span {
  text-align: center;
  width: 35px;
  display: inline-block;
}

#content p i {
  display: inline-block;
  text-align: center;
  margin: 0 .5em;
}
